## Lab 3

Part 1: generate fake data to anonymize

In [10]:
from faker import Faker; 
import pandas as pd; 
from faker.providers.credit_card import Provider as creditcardProivder; 

df = pd.DataFrame(columns=['Navn', 'Adresse', 'PersonNr', 'CreditCard', 'ipv4'])
fake = Faker(['no_NO']) #decides the condition for the fake credential -> this instance, we can see the that is use Norwegian setting 

for i in range(0,100):
    row=fake.name(),fake.address(),fake.ssn(),fake.credit_card_number(), fake.ipv4()
    df.loc[i]=row

df.head()

,Navn,Adresse,PersonNr,CreditCard,ipv4
0,Anna Solheim,"Myhrevollen 7, 0340 Jenssen",26094544733,3542653656477432,201.239.112.97
1,Eli Eliassen,"Sivertsengata 62F, 4210 Toreøy",01034507933,180020572398634,173.5.35.224
2,Kåre Ahmed,"Moenbråten 587, 1010 Gerdsjøen",22059040913,4611551671923704739,27.144.79.24
3,Håkon Mathisen-Bakke,"Thomassenkroken 927, 4155 Vik",06087731608,6011825341672602,97.54.128.52
4,Steinar Vik,"Arnesenhavna 62, 3257 Aas",07046529264,676133355948,66.84.41.150

Task 2: data anonymization